<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand navbar-left" do %>
        <i class="fa fa-briefcase"></i><span> Business Den</span>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", new_user_session_path, class: "btn btn-default copper" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log Out", about_path, class: "btn btn-default copper" %></li>
        <% end %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Get in Contact", contact_us_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>